<div class="form-group col-md-8">
    <label for="formGroupExampleInput"><strong>Nombre del cliente :</strong> </label>
    <h1>{{nombres}}</h1>
    <!-- <input type="text" class="form-control"[(ngModel)]="name" placeholder="Cliente" value="{{nombre}}"/> -->
</div>
<table class="table table-hover">
    <thead>
      <th>PRODUCTO</th>
           
      <th>CANTIDAD</th>

      <th>PRECIO P/U</th>
      <th>PRECIO TOTAL</th>
      <!-- <th>PRECIO TOTAL </th> -->
      
    </thead>
    <tbody>
      <tr *ngFor ="let emp of arrayObject ; let i=index">
        <td >{{emp.nombre}}</td>
        <td><input type="number" min="1" max="10" [ngModel]="emp.cantidad"  #counter (keyup)="showList(emp,counter.value)"  ></td>
        <td >{{emp.precio | currency}}</td>
        <td>{{emp.subtotal | currency}}</td>
        <!-- <td > -->
          <!-- <div class="btn-group mr-2" role="group" aria-label="First group"><button  type="button" class="btn btn-warning" (click)="sumar()" >+</button> <h3>{{contador}}</h3> <button type="button" class="btn btn-warning" (click)="restar()">-</button></div> </td> -->
        <!-- <td >S/{{emp.precio * contador}}.00</td> -->
        <td  (click)="deleteList(emp)"><a  class="btn text-danger"><i class="fa fa-trash fa-2x"></i></a></td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="carrito-total">
        <td colspan="3"></td>
        <td>
          <strong>Total: {{totales | currency }} </strong>
        </td>
      </tr>
    </tfoot>
  </table>
  <div >
    <button (click)="savePedido()" class="btn btn-dark text-warning"><i class="fas fa-cloud-upload-alt fa-2x"></i> ENVIAR</button>
  </div>
    
      
   


  <!-- <p *ngFor ="let emp of arrayObject">{{emp.nombre}}</p> -->
  