.init{
    background-image: url('src\assets\img\fondo-myburger.jpg');
    width: 100%;
    height:100%;
    
background-repeat: no-repeat;
background-position: center;
background-size: cover;
    /* margin: 0; */
    /* padding: 0; */
   
 } 
/* .init2{
    opacity: 0.7;
} */
.burger{
    background-color: #080000;
}


