
<div class="navLista container ">
    <ul class="nav nav-pills mb-3" role="tablist">
      <div>
      <li >
        <button  class="btn mr-2 btn-warning btn-md text-white "><a class="nav-link"  (click)="change('desayuno')">DESAYUNO</a></button>
      </li>
    </div>
  <div>
      <li >
          <button  class="btn mr-2  btn-warning btn-md text-white "><a class="nav-link " data-toggle="collapse" (click)="change('resto')">RESTO DEL DÍA</a></button>
      </li>
    </div> 
    </ul>
  </div>

  <div class="row">
      <div  class="col-sm-5" *ngFor="let menu of data ">
        <div class="card">
            <!-- class="media "  -->
            <!-- <div class="media-figure"> -->
          <img  src="{{menu.url}}" class="card-img-top"  width="150px" height="150px"alt="">
            <!-- </div> -->
          <div class="card-body">
            <p class="card-text"><strong>{{menu.nombre}}</strong></p>
            <p class="card-text"> <strong>S/{{menu.precio}}.00</strong></p>
            <div class="btn--group">
              <button (click)="add(menu)"  class="btn  btn-warning btn-lg text-white "><i class="fas fa-shopping-cart "></i>AGREGAR</button>
            </div>
            </div>
        </div>
      </div> 
    </div>

