<nav class="navbar bg-dark navbar-dark  fixed-top navbar-expand-md  ">
        <div class="container justify-content-center">
          <a class="navbar-brand" routerLink="/">REGRESAR A INICIO</a>
          <div class="collapse navbar-collapse " id="navbarResponsive">
            <ul class="navbar-nav ml-auto ">
              <li class="nav-item cold-4">
                <a class="nav-link" routerLink="/desayuno">DESAYUNO</a>
              </li>
              <li class="nav-item cold-4">
                <a class="nav-link"routerLink="/resto">RESTO DEL DÍA</a>
              </li>
              <li class="nav-item cold-4">
                <a class="nav-link " routerLink="/home">INFO</a>
              </li>
            </ul>
          </div>
        </div>
</nav>
      
