
     
        <div class="alert alert-primary" role="alert">
                <app-nav></app-nav>
        </div>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                          <img src="images/img/burger-doble.jpg" width="10px"  class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../images/jugosnaturales.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../images/papas-fritas.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                  </div> 
            <div class="alert alert-primary" role="alert">
                    A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                  </div>            
                  <div class="btn-group">
                        <button type="button" class="btn btn-danger">Action</button>
                        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                      </div>
           
            <div class="alert alert-secondary" role="alert">
                    A simple secondary alert—check it out!
                  </div>
                  
            
<div>
  <h1>Users</h1>

<ul *ngIf="users">
  <li *ngFor="let user of users.desayuno">
    <img [src]="user.img ">
    <p>{{ user.nombre }} - {{ user.precio }}</p>
  </li>
</ul>
</div>

